
*.xcuserstate

*.xcworkspacedata

*.xcbkptlist

*.xcscheme

*.plist

*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcuserstate

Audio Controller Example.xcodeproj/project.xcworkspace/xcuserdata/KevinMurphy.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
